In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [5]:
# Location of the SQLite database file
engine = create_engine("sqlite:///hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [10]:
# How many stations are available in this dataset?
session.query(func.count(Station.station)).all()

[(9)]

In [11]:
# What are the most active stations?
# List the stations and the counts in descending order.
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [12]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station? USC00519281
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(Measurement.station == 'USC00519281').all()

[(54.0, 85.0, 71.66378066378067)]

# Challenge

In [13]:
# Calculate the date one year from the last date in data set.
june_results = session.query(Measurement.station,Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date) == 6).all()

# Perform a query to retrieve the data and precipitation scores
june_df = pd.DataFrame(june_results, columns=['station','date','tobs'])

# Save the query results as a Pandas DataFrame and set the index to the date column
june_df.set_index(june_df['date'], inplace=True)

# Sort the dataframe by date
june_df = june_df.sort_index()
june_df

                station        date  tobs
date
2010-06-01  USC00519397  2010-06-01  78.0
2010-06-01  USC00514830  2010-06-01  73.0
2010-06-01  USC00517948  2010-06-01  77.0
2010-06-01  USC00518838  2010-06-01  69.0
2010-06-01  USC00519523  2010-06-01  76.0
...                 ...         ...   ...
2017-06-30  USC00519281  2017-06-30  76.0
2017-06-30  USC00519397  2017-06-30  75.0
2017-06-30  USC00519523  2017-06-30  75.0
2017-06-30  USC00513117  2017-06-30  74.0
2017-06-30  USC00516128  2017-06-30  75.0

[1700 rows x 3 columns]

In [14]:
# Calculate the date one year from the last date in data set.
dec_results = session.query(Measurement.station,Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date) == 12).all()

# Perform a query to retrieve the data and precipitation scores
dec_df = pd.DataFrame(dec_results, columns=['station','date','tobs'])

# Save the query results as a Pandas DataFrame and set the index to the date column
dec_df.set_index(dec_df['date'], inplace=True)

# Sort the dataframe by date
dec_df = dec_df.sort_index()
dec_df

                station        date  tobs
date
2010-12-01  USC00519397  2010-12-01  76.0
2010-12-01  USC00514830  2010-12-01  73.0
2010-12-01  USC00517948  2010-12-01  72.0
2010-12-01  USC00519523  2010-12-01  78.0
2010-12-01  USC00519281  2010-12-01  72.0
...                 ...         ...   ...
2016-12-31  USC00519281  2016-12-31  67.0
2016-12-31  USC00514830  2016-12-31  72.0
2016-12-31  USC00519397  2016-12-31  66.0
2016-12-31  USC00513117  2016-12-31  71.0
2016-12-31  USC00516128  2016-12-31  65.0

[1517 rows x 3 columns]

In [15]:
june_df.describe()

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [16]:
dec_df.describe()

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000